.wordcloudContainer {
  display : inline;
  margin : auto;
  position : absolute
}

.tick text {
  font: 14px "Comic Sans MS";
  fill: green;
}

.xaxis line,
.xaxis path {
  fill: green;
  border-color: white;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.xaxis .tick line {
  stroke:green;
}

circle.ring {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: .15;
  stroke-dasharray: .5;
}
